#tab {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#tab td, #tab th {
  border: 2px solid rgb(128, 128, 128,0.15);
  padding: 8px;
  text-align: center;
}

#tab tr{
  background-color: #f2f2f2;
  
}

#tab tr:hover {background-color: #ddd;}

#tab th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.color1 {
  color:red;
  font-weight: bold;
}

.color2 {
  color:green;
  font-weight: bold;
}