<div class="form d-flex align-items-center justify-content-center">
    
    <form [formGroup]="signinForm">
        <div class="main">
            <div class="row">
                <div class="header">
                    <p>Sign-In</p>
                </div>
    
                <div class="inputFields">
                    <label for="email">Username</label>
                    <input type="email" class="form-control" formControlName="username" id="username" name="username"
                        autocomplete="off" required>
                    <small class="text-danger" *ngIf="username && username.invalid && username.touched">{{getNameError()}}</small>
                </div>
                <div class="inputFields">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="password" name="password"
                        required>
                    <small class="text-danger" [class.d-none]="password && (password.valid || password.untouched)">Password
                        is required</small>
                </div>
                <button class="btn btn-primary mt-3" type="submit" (click)="login()"[disabled]=signinForm.invalid>Sign in</button>
                <div class="bottomtext mt-3">
                    <p>Do not have an account? <a href="/signup">Sign up</a></p>
                </div>
            </div>
            
        </div>
    </form>
</div>