.sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,0.60);
    overflow-x: hidden;
    padding-top: 60px;
  }
  
  .sidenav a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    margin: 10px 10px;
   
  }
  
  .sidenav a:hover {
    color: black;
    background-color: white;
   
  }
  
  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  hr{
    height: 10px;
  }