/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image:url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/129325364/original/afaddcb9d7dfaaf5bff7ef04101935814665ac16/design-an-attractive-background-for-your-website.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
color: white;} */

body{
    background-color: rgb(0, 128, 128,0.5);
}